node_modules/
mobile-expo/.expo/
mobile-expo/dist/
mobile-expo/android/
mobile-expo/ios/
.next/
out/
.env*
!.env.example
npm-debug.log*
mobile-android/.gradle/
mobile-android/build/
mobile-android/app/build/
mobile-android/local.properties

reference/price-screenshots/
reference/website-images/
